<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css"> <!-- O el archivo que estés usando -->
</head>
<body>
    <header>
        <h1>Punto Lan</h1>
    </header>
    
    <main>
        {{{body}}}
    </main>
    
    <footer>
        <p>&copy; 2025 Punto Lan</p>
    </footer>
</body>
</html>
